{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Inicio{% endblock %}

{% block extracss %}
<style>
    .lordicon {
        width: 100%;
        height: 70px;
    }
</style>
{% endblock %}



{% block content %}
    
    {% include 'home/includes/hero_section.html' %}

    {% include 'home/includes/my_works_section.html' %}

    {% include 'home/includes/resume_section.html' %}

    {% include 'home/includes/skills_section.html' %}

    {% include 'home/includes/testimonial_section.html' %}

    {% include 'home/includes/contact_section.html' %}


{% endblock %}

{% block extrajs %}

{% endblock %}
