Django==5.0.7
djangorestframework==3.14.0
django-crispy-forms==2.0
django-extensions==3.2.3
django-filter==23.3
crispy-bootstrap4==2022.1
django-ckeditor-5==0.2.13
django-bootstrap4-datetimepicker==4.2
django-mathfilters==1.0.0
django-select2==8.1.2
django-tinymce==3.4.0
python-dotenv==1.0.0
pillow==10.3.0
psycopg2-binary==2.9.9
pandas==2.2.2
numpy==1.26.4
django-cors-headers==3.14.0
django-recaptcha==4.0.0
requests==2.31.0
gunicorn==20.1.0