{% extends 'base.html' %}
{% load static i18n %}
{% block title %}Cómo crear un marketplace con Django y React ligero{% endblock %}
{% block meta_description %}Guía paso a paso para desarrollar un marketplace con Django y un frontend ligero en React.{% endblock %}
{% block meta_keywords %}marketplace Django, React ligero, desarrollo web a medida, CI/CD, Docker, Kubernetes{% endblock %}

{% block content %}
<section class="breadcrumb_area" data-bg-image="{% static 'img/breadcrumb/breadcrumb-bg.webp' %}" data-bg-color="#140C1C">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb_content d-flex flex-column align-items-center">
                    <h2 class="title wow fadeInUp" data-wow-delay=".3s">Cómo crear un marketplace con Django y React ligero</h2>
                    <div class="breadcrumb_navigation wow fadeInUp" data-wow-delay=".5s">
                        <span><a href="{% url 'main:home' %}">Inicio</a></span>
                        <i class="far fa-long-arrow-right"></i>
                        <span class="current-item">Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog-content">
    <div class="container">
        <p>En esta entrada descubrirás cómo estructurar un marketplace escalable empleando Django REST Framework en el backend y un frontend minimalista con React.</p>
    </div>
</section>
{% endblock %}
