<!DOCTYPE html>
<html class="no-js" lang="es">
{% load static i18n %}

<head>
   <meta charset="utf-8" />
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta name="description" content="" />

   <!-- Site Title -->
   <title>{% block title %}{% endblock %} | Portfolio</title>
   
   <!-- Place favicon.ico in the root directory -->
   <link rel="apple-touch-icon" href="{% static 'img/logo/logo-only-white-circle.ico' %}" />
   <link rel="shortcut icon" type="image/png" href="{% static 'img/logo/logo-only-white-circle.ico' %}" />

   <!-- CSS here -->
   {% include 'includes/css.html' %}
   {% block extracss %}{% endblock %}

   <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="1198da8a-0922-4f43-a212-c81d10601bfb" data-blockingmode="auto" type="text/javascript"></script>

   <script async src="https://www.googletagmanager.com/gtag/js?id=G-J1PQFKY9V4"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-J1PQFKY9V4');
   </script>
   
</head>



<body >

   {% include 'includes/header.html' %}

   {% include 'includes/preloader.html' %}

   <main class="site-content" id="content">

      {% block content %}{% endblock %}

      {% block modals %} {% endblock %}
      
   </main>

   {% include 'includes/footer.html'%}

   {% include 'includes/js.html' %}

   {% block extrajs %}{% endblock %}
   
</body>

</html>