{% load static i18n crispy_forms_tags %}

<!-- CONTACT SECTION START -->
<section class="contact-section" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 order-2 order-md-1">
                <div class="contact-form-box wow fadeInLeft" data-wow-delay=".3s">
                    <div class="section-header">
                        <h2 class="section-title">{% trans "¡Trabajemos juntos!" %}</h2>
                        <p>{% trans "Diseño y codifico cosas hermosamente simples y amo lo que hago. ¡Es así de simple!" %}</p>
                    </div>

                    <div class="tj-contact-form">
                        <!-- Aquí conectamos el formulario de Django -->
                        <form method="post" action="{% url 'main:contact' %}">
                            {% csrf_token %}
                            <div class="row gx-3">
                                <div class="col-sm-6">
                                    <div class="form_group">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form_group">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form_group">
                                        {{ form.email|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form_group">
                                        {{ form.phone|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form_group">
                                        {{ form.service|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form_group">
                                        {{ form.message|as_crispy_field }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form_btn">
                                        <button type="submit" class="btn tj-btn-primary">{% trans 'Enviar Mensaje' %}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1 col-md-5 d-flex flex-wrap align-items-center order-1 order-md-2">
                <div class="contact-info-list">
                    <ul class="ul-reset">
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".4s">
                            <div class="icon-box">
                                <i class="flaticon-phone-call"></i>
                            </div>
                            <div class="text-box">
                                <p>{% trans 'Teléfono' %}</p>
                                <a href="tel:+34666366242">+34 666 366 242</a>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".5s">
                            <div class="icon-box">
                                <i class="flaticon-mail-inbox-app"></i>
                            </div>
                            <div class="text-box">
                                <p>{% trans 'Email' %}</p>
                                <a href="mailto:contacto@jorgelashtech.com">contacto@jorgelashtech.com</a>
                            </div>
                        </li>
                        <li class="d-flex flex-wrap align-items-center position-relative wow fadeInRight" data-wow-delay=".6s">
                            <div class="icon-box">
                                <i class="flaticon-location"></i>
                            </div>
                            <div class="text-box">
                                <p>{% trans 'Dirección' %}</p>
                                <a href="#">Cenes de la Vega, <br />Granada, España</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- CONTACT SECTION END -->