{% load static i18n %}

<!-- HERO SECTION START -->
<section class="hero-section d-flex align-items-center" id="intro">
    <div class="intro_text">
        <svg viewBox="0 0 1320 300">
            <text x="50%" Y="50%" text-anchor="middle">{% trans "HOLA" %}</text>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="hero-content-box">
                    <span class="hero-sub-title">{% trans "Soy Jorge" %}</span>
                    <h1 class="hero-title">{% trans "Desarrollador Web Full Stack +" %}<br />{% trans "Dev Ops" %}</h1>

                    <div class="hero-image-box d-md-none text-center">
                        <picture>
                            <!-- Fuente para navegadores que soporten WebP -->
                            <source 
                                srcset="{% static 'img/hero/me-small.webp' %} 300w, 
                                        {% static 'img/hero/me-medium.webp' %} 500w, 
                                        {% static 'img/hero/me.webp' %} 899w" 
                                sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                                type="image/webp">
                            
                            <!-- Fallback a JPEG para navegadores que no soporten WebP -->
                            <img 
                                src="{% static 'img/hero/me.png' %}" 
                                srcset="{% static 'img/hero/me-small.png' %} 300w, 
                                        {% static 'img/hero/me-medium.png' %} 500w, 
                                        {% static 'img/hero/me.png' %} 899w" 
                                sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                                alt="Foto de Jorge Lasheras Castillo"
                                loading="eager">
                        </picture>
                    </div>

                    <p class="lead">
                        <span class="trans">{% trans "Me especializo en desglosar problemas complejos de experiencia de usuario para crear soluciones enfocadas en la integridad que conecten a miles de personas." %}</span>
                    </p>
                    <div class="button-box d-flex flex-wrap align-items-center">
                        <a href="{% static 'img/hero/Jorge_lasheras_castillo_CV.pdf' %}" download class="btn tj-btn-secondary">{% trans "Descargar CV" %} <i class="flaticon-download"></i></a>
                        <ul class="ul-reset social-icons">
                            {% comment %} <li>
                                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            </li> {% endcomment %}
                            <li>
                                <a href="mailto:contacto@jorgelashtech.com" aria-label="Enviar correo a contacto@jorgelashtech.com"><i class="fa-light fa-envelope"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/jorge15lc/" target="_blank" aria-label="Perfil de LinkedIn de Jorge"><i class="fa-brands fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/Jorge15lc" target="_blank" aria-label="Perfil de GitHub de Jorge"><i class="fa-brands fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-none d-md-block">
                <div class="hero-image-box text-center">
                    <picture>
                        <!-- Fuente para navegadores que soporten WebP -->
                        <source 
                            srcset="{% static 'img/hero/me-small.webp' %} 300w, 
                                    {% static 'img/hero/me-medium.webp' %} 500w, 
                                    {% static 'img/hero/me.webp' %} 899w" 
                            sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                            type="image/webp">
                        
                        <!-- Fallback a JPEG para navegadores que no soporten WebP -->
                        <img 
                            src="{% static 'img/hero/me.png' %}" 
                            srcset="{% static 'img/hero/me-small.png' %} 300w, 
                                    {% static 'img/hero/me-medium.png' %} 500w, 
                                    {% static 'img/hero/me.png' %} 899w" 
                            sizes="(max-width: 600px) 100vw, (max-width: 1200px) 50vw, 33vw"
                            alt="Foto de Jorge Lasheras Castillo"
                            loading="eager">
                    </picture>
                </div>
            </div>
        </div>
        <div class="funfact-area">
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="2">0</span></div>
                        <div class="text">{% trans "Años de" %} <br />{% trans "Experiencia" %}</div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number">+<span class="odometer" data-count="10">0</span></div>
                        <div class="text">{% trans "Proyectos" %} <br />{% trans "Completados" %}</div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="5">0</span></div>
                        <div class="text">{% trans "Clientes" %} <br />{% trans "Satisfechos" %}</div>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="funfact-item d-flex flex-column flex-sm-row flex-wrap align-items-center">
                        <div class="number"><span class="odometer" data-count="100">0</span>%</div>
                        <div class="text">{% trans "Tasa de" %} <br />{% trans "Satisfacción" %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- HERO SECTION END -->