{% load static i18n %}

<!-- RESUME SECTION START -->
<section class="resume-section" id="resume-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-header wow fadeInUp" data-wow-delay=".3s">
                    <h2 class="section-title"><i class="flaticon-recommendation"></i> {% trans "Mi Experiencia" %}</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".4s">
                        <div class="time">2023 - {% trans "Actualidad" %}</div>
                        <h3 class="resume-title">{% trans "Desarrollador Full Stack y DevOps" %}</h3>
                        <div class="institute">{% trans "Grupo VyA, España" %}</div>
                        <p>{% trans "Creación, despliegue y mantenimiento de aplicaciones ERP y Marketplace. Diseño de bases de datos y desarrollo de Backend y Frontend con Python, Django, Postgres, HTML, CSS, JavaScript, JQuery y Postgis." %}</p>
                    </div>
                    <div class="resume-item wow fadeInLeft" data-wow-delay=".5s">
                        <div class="time">2023 - {% trans "Actualidad" %}</div>
                        <h3 class="resume-title">{% trans "Desarrollador Full Stack y DevOps" %}</h3>
                        <div class="institute">{% trans "Buyback, Granada" %}</div>
                        <p>{% trans "Creación y optimización de aplicaciones web eCommerce, Marketplace y Plataformas eLearning. Integración y desarrollo de APIs (Google Auth, Maps, Sage, OpenAI, Redsys, Stripe, Brevo). Desarrollo de Backend con Python, Django, DRF, Postgres, SQL y tecnologías como pandas, numpy y celery. Desarrollo de Frontend con HTML, CSS, Bootstrap, JavaScript y JQuery." %}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="section-header wow fadeInUp" data-wow-delay=".4s">
                    <h2 class="section-title"><i class="flaticon-graduation-cap"></i> {% trans "Mi Educación" %}</h2>
                </div>

                <div class="resume-widget">
                    <div class="resume-item wow fadeInRight" data-wow-delay=".5s">
                        <div class="time">2021 - 2023</div>
                        <h3 class="resume-title">{% trans "Desarrollo de Aplicaciones Multiplataforma" %}</h3>
                        <div class="institute">{% trans "Escuela Arte Granada - FP Superior, España" %}</div>
                    </div>
                    <div class="resume-item wow fadeInRight" data-wow-delay=".6s">
                        <div class="time">2016 - 2018</div>
                        <h3 class="resume-title">{% trans "Bachiller" %}</h3>
                        <div class="institute">{% trans "Beatriz Galindo, España" %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- RESUME SECTION END -->