{% load static i18n %}

<!-- SKILLS SECTION START -->
<section class="skills-section" id="skills-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">{% trans "Mis Habilidades" %}</h2>
                    <p class="wow fadeInUp" data-wow-delay=".4s">
                        {% trans "Convertimos tus ideas y deseos en un proyecto web único que te inspire a ti y a tus clientes." %}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                    <div class="skill-item wow fadeInUp" data-wow-delay=".3s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/python.png' %}" alt="Python" />
                            </div>
                            <div class="number">95%</div>
                        </div>
                        <p>{% trans "Python" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/django.png' %}" alt="Django" />
                            </div>
                            <div class="number">90%</div>
                        </div>
                        <p>{% trans "Django" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/html5.png' %}" alt="HTML5" />
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>{% trans "HTML5" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/css3.png' %}" alt="CSS3" />
                            </div>
                            <div class="number">80%</div>
                        </div>
                        <p>{% trans "CSS3" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/javascript.png' %}" alt="JavaScript" />
                            </div>
                            <div class="number">75%</div>
                        </div>
                        <p>{% trans "JavaScript" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".8s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/bootstrap.png' %}" alt="Bootstrap" />
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>{% trans "Bootstrap" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".9s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/postgresql.png' %}" alt="PostgreSQL" />
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>{% trans "PostgreSQL" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay="1.0s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/git.png' %}" alt="Git" />
                            </div>
                            <div class="number">90%</div>
                        </div>
                        <p>{% trans "Git" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay="1.1s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/api.png' %}" alt="APIs" />
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>{% trans "APIs" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay="1.2s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/ia.png' %}" alt="AI" />
                            </div>
                            <div class="number">80%</div>
                        </div>
                        <p>{% trans "Integraciones AI" %}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-12">
                <div class="section-header text-center">
                    <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">{% trans "Habilidades Blandas" %}</h2>
                </div>
                <div class="skills-widget d-flex flex-wrap justify-content-center align-items-center">
                    <div class="skill-item wow fadeInUp" data-wow-delay=".4s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/communication.png' %}" alt="Comunicación" />
                            </div>
                            <div class="number">95%</div>
                        </div>
                        <p>{% trans "Comunicación" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".5s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/leadership.png' %}" alt="Liderazgo" />
                            </div>
                            <div class="number">90%</div>
                        </div>
                        <p>{% trans "Liderazgo" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".6s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/problem-solving.png' %}" alt="Resolución de Problemas" />
                            </div>
                            <div class="number">85%</div>
                        </div>
                        <p>{% trans "Resolución de Problemas" %}</p>
                    </div>
                    <div class="skill-item wow fadeInUp" data-wow-delay=".7s">
                        <div class="skill-inner">
                            <div class="icon-box">
                                <img src="{% static 'img/icons/customer-service.png' %}" alt="Atención al Cliente" />
                            </div>
                            <div class="number">88%</div>
                        </div>
                        <p>{% trans "Atención al Cliente" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SKILLS SECTION END -->