{% load static i18n %}

<!-- TESTIMONIAL SECTION START -->
<section class="testimonial-section" id="testimonials-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-header">
                    <h2 class="section-title wow fadeInLeft" data-wow-delay=".3s">{% trans "Historias de Mis Clientes" %}</h2>
                    <p class="wow fadeInLeft" data-wow-delay=".4s">{% trans "Empoderando a las personas en un nuevo viaje digital con mis servicios excepcionales." %}</p>
                </div>
            </div>
            <div class="col-lg-7 col-xl-6 offset-xl-1">
                <div class="testimonials-widget wow fadeInRight" data-wow-delay=".5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <div class="top-area d-flex flex-wrap justify-content-between">
                                <div class="logo-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zfmcashd.json"
                                        trigger="hover"
                                        state="hover-wave"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                                <div class="image-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zbblnakr.json"
                                        trigger="hover"
                                        state="hover-nodding"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                            </div>
                            <div class="icon-box">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint0_linear_263_588)" />
                                    <defs>
                                        <linearGradient id="paint0_linear_263_588" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint1_linear_263_589)" />
                                    <defs>
                                        <linearGradient id="paint1_linear_263_589" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <p class="quote">{% trans "“Jorge es un profesional excelente, realmente ayudó a nuestro negocio proporcionando un valor significativo.”" %}</p>
                            <h4 class="name">{% trans "Carlos Martínez" %}</h4>
                            <span class="designation">{% trans "CEO, Tech Innovators" %}</span>
                        </div>
                        <div class="testimonial-item">
                            <div class="top-area d-flex flex-wrap justify-content-between">
                                <div class="logo-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zfmcashd.json"
                                        trigger="hover"
                                        state="hover-wave"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                                <div class="image-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zbblnakr.json"
                                        trigger="hover"
                                        state="hover-nodding"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                            </div>
                            <div class="icon-box">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint2_linear_263_511)" />
                                    <defs>
                                        <linearGradient id="paint2_linear_263_511" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint3_linear_263_510)" />
                                    <defs>
                                        <linearGradient id="paint3_linear_263_510" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <p class="quote">{% trans "“Jorge transformó nuestro sitio web, mejorando significativamente la experiencia del usuario y la eficiencia del negocio.”" %}</p>
                            <h4 class="name">{% trans "Lucía García" %}</h4>
                            <span class="designation">{% trans "Directora de Marketing, Innovate Ltd." %}</span>
                        </div>
                        <div class="testimonial-item">
                            <div class="top-area d-flex flex-wrap justify-content-between">
                                <div class="logo-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zfmcashd.json"
                                        trigger="hover"
                                        state="hover-wave"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                                <div class="image-box">
                                    <lord-icon
                                        src="https://cdn.lordicon.com/zbblnakr.json"
                                        trigger="hover"
                                        state="hover-nodding"
                                        class="lordicon">
                                    </lord-icon>
                                </div>
                            </div>
                            <div class="icon-box">
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint4_linear_263_512)" />
                                    <defs>
                                        <linearGradient id="paint4_linear_263_512" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.105431 2.18998C0.0301532 0.988687 1.02531 -0.00647222 2.2266 0.0688056L19.4961 1.15097C21.2148 1.25867 22.0029 3.34358 20.7852 4.56127L4.5979 20.7486C3.3802 21.9663 1.2953 21.1781 1.1876 19.4594L0.105431 2.18998Z" fill="url(#paint5_linear_263_513)" />
                                    <defs>
                                        <linearGradient id="paint5_linear_263_513" x1="-0.0363755" y1="-0.0729998" x2="35.3333" y2="-0.0729991" gradientUnits="userSpaceOnUse">
                                            <stop offset="1" stop-color="var(--tj-theme-primary)" />
                                            <stop offset="1" stop-color="#140C1C" stop-opacity="0" />
                                        </linearGradient>
                                    </defs>
                                </svg>
                            </div>
                            <p class="quote">{% trans "“La experiencia de trabajar con Jorge ha sido increíble. Su dedicación y habilidades técnicas son inigualables.”" %}</p>
                            <h4 class="name">{% trans "Pedro López" %}</h4>
                            <span class="designation">{% trans "CTO, Global Solutions" %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TESTIMONIAL SECTION END -->